

.barlow-font {
    font-family: 'Barlow', sans-serif;
}

.caption {
    padding-left: 34px;
}

.is-mustard {
    color: #c1ad1e;
}

.hero-quote {
    color: #c1ad1e;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
.next-text {
    color: black;
    font-weight: 600;   
}

.hero-quote p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

.image {
    width: 240px;
    height: 640px;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}



.bgrd-is-mustard {
    background-color: #c1ad1e;
}

.hero {
    background-image: url(../images/book-mamba-background-01.png);
    background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
}

.logo {
    padding-top: 20px;
    max-width: 195px;
}

.hero-body {
    padding: 3rem 0;
}

*{
    box-sizing: border-box
}
.columns,
.columns:last-child {
    margin: 0
}