body {
    background-image: url(../images/book-mamba-background-01.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #363636;
}

/* FONTS */
.serif {
    font-family: 'Source Serif Pro', serif;
}

.barlow-font {
    font-family: 'Barlow', sans-serif;
}

/* COLORS */
.is-mustard {
    color: #c1ad1e;
}

.is-red {
    color:#BA1A11 !important
}

.bgrd-is-red {
    background-color:#BA1A11
}

.bgrd-is-mustard {
    background-color: #c1ad1e;
}

/* GENERAL STYLES */
.logo {
    padding-top: 20px;
    max-width: 195px;
}

#nextBtn:hover{
    cursor: pointer;
}

.buy-button  {
    border: none;
    margin-top: 1.5rem;
}

#bookCover {
    padding-right: 20px;
}

#book-section, #nyTimes {
    display: none;
}

.tile {
    position: relative;
}

.ranking1 {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 100;
    top:-.5rem;
    right: 1.5rem;
    background-color: #c1ad1e;
}

.ranking2 {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 100;
    top:-.5rem;
    right: 1.5rem;
    background-color: #BA1A11;
    color: #fff;  
}

.notification {
    padding: 2.5rem 1.25rem 1.25rem 1.25rem;
}

.padding-left {
    padding-left: .5rem;
}

.dynamic-content {
    color: white;
    display: none;
}